.card{
    /* width: 50% !important; */
    /* height: 50% !important; */
}
.container{
    background-color: aquamarine;
}
.navbar{
    background-color: brown !important;
}
.mt-20{
    background-color: aquamarine;

}